{% load static %}
<div id="bdSidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-white offcanvas-md offcanvas-start">
    <p>Hi {{ name }},</p>
    <hr />
    <div class="payment">
        <div>Credits ₹{{balance}}</div>
        <div>
           <a href="{% url 'dashboard:payment' %}"> <button>Add credits</button></a>
        </div>
    </div>
    <ul class="mynav nav nav-pills flex-column mb-auto">
        <li class="nav-item mb-1">
            <a href="{% url 'client:home' %}">
                <i class="fa-regular fa-newspaper"></i>
                Home
            </a>
        </li>
        <li class="nav-item mb-1">
            <a href="{% url 'dashboard:home' %}"  {% if request.path == '/dashboard/' %}class="active"{% endif %}>
                <i class="fa-regular fa-newspaper"></i>
                Dashboard
            </a>
        </li>
        <li class="nav-item mb-1">
            <a href="{% url 'dashboard:profile' %}"  {% if request.path == '/dashboard/profile' %}class="active"{% endif %}>
                <i class="fa-regular fa-user"></i>
                Profile
            </a>
        </li>

        <li class="nav-item mb-1">
            <a href="{% url 'dashboard:dev-api' %}"  {% if request.path == '/dashboard/dev-api' %}class="active"{% endif %}>
                <i class="fa-regular fa-bookmark"></i>
                Developer API
                <!-- <span class="notification-badge">5</span> -->
            </a>
        </li>

        <li class="nav-item mb-1">
            <a href="{% url 'dashboard:payment' %}"  {% if request.path == '/dashboard/payment' %}class="active"{% endif %}>
                <i class="fa-solid fa-archway"></i>
                Payment
            </a>
        </li>
        <li class="sidebar-item nav-item mb-1">
            <a href="{% url 'dashboard:settings' %}" class="sidebar-link collapsed {% if request.path == '/dashboard/settings' %}active{% endif %} data-bs-toggle="collapse" data-bs-target="#settings"  
                aria-expanded="false" aria-controls="settings">
                <i class="fas fa-cog pe-2"></i>
                <span class="topic">Settings </span>
            </a>

        </li>
        <li class="nav-item mb-1">
            <a href="{% url 'user:logout' %}">
                <i class="fa-solid fa-sign-out-alt"></i>
                Logout
            </a>
        </li>
    </ul>
    <hr />
    <div class="d-flex">
        <i class="fa-solid fa-book me-2"></i>
        <span>
            <h6 class="mt-1 mb-0">Custkeep Client Portal</h6>
        </span>
    </div>
</div>