{% load static %}

<!doctype html>
<html lang="en">
  <head>

    <title>
      {% block title %}
      {% endblock title%}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'LoginUI/css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'LoginUI/css/custom.css' %} ">

    <title>Login #9</title>
  </head>
  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <!-- <h2 class="heading-section">Login #07</h2> -->
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="col-md-12 messages">
              {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                    <button type="button" class="close " data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                  {% endfor %}

              {% endif %}  
              {% if form.errors %}
              <div class="alert alert-danger alert-dismissible" role="alert">
                  <div id="form_errors">
                      {% for key, value in form.errors.items %}
                          <strong>{{ value }}</strong>
                      {% endfor %}
                  </div>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          {% endif %}

            </div>
            <!-- Main Content -->
            {% block content %} 
            
            {% endblock %}
          </div>
        </div>
      </div>
    </section>
    <script src="{% static 'LoginUI/js/jquery.min.js' %}"></script>
    <script src="{% static 'LoginUI/js/popper.js' %}"></script>
    <script src="{% static 'LoginUI/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'LoginUI/js/main.js' %}"></script>
  </body>
</html>