{% extends 'user/Auth_base.html' %} 
{% block title %} Password Reset {% endblock title%}

{% block content %}

<div class="wrap d-md-flex w-100">
    <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
      <div class="text w-100">
        <h2>Reset Your Password</h2>

      </div>
    </div>
    <div class="login-wrap p-4 p-lg-5">
      <div class="d-flex">
        {% if validlink %}
        <div class="w-100">
          <h3 class="mb-4">Reset Your Password</h3>
        </div>
      </div>
      <form method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-10 offset-md-1">
                <div class="form-group">
                    <label class="small mb-1" for="id_new_password1">New Password</label>
                    <input type="password" name="new_password1" autocomplete="new-password"
                           class="form-control" required id="id_new_password1"
                           placeholder="Enter password"/>
                    <span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-10 offset-md-1">
                <div class="form-group">
                    <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
                    <input type="password" name="new_password2" autocomplete="new-password"
                           required id="id_new_password2" class="form-control"
                           placeholder="Confirm password"/>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-10 offset-md-1">
                <div class="form-group mt-0 mb-1">
                    <button type="submit" class="form-control btn btn-primary submit px-3" id="reset">Reset Password</button>
                </div>
            </div>
        </div>
    </form>
    {% else %}
        <div class="w-100">
            <div class= "alert alert-warning">
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </div>
            <div class="form-group">
                <a href="{% url 'user:login' %}" class=" form-control btn btn-primary submit px-3">Back to login</a>
            </div>
        </div>

    {% endif %}

    </div>
  </div>

  {% endblock content %}