{% extends 'user/Auth_base.html' %} 
{% load static %} 
{% block title %} Password Reset {% endblock title%}
{% block content %}

<div class="wrap d-md-flex w-100">
    <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
      <div class="text w-100">
        <h2>Reset Your Password</h2>
        <br>
        <p>Don't have an account?</p>

        <a href="{% url 'user:register' %}" class="btn btn-white btn-outline-white">Create A New Account</a>
      </div>
    </div>
    <div class="login-wrap p-4 p-lg-5">
      <div class="d-flex">
        <div class="w-100">
          <h3 class="mb-4">Forgot Password?</h3>
        </div>
      </div>
      <form method="post" class="signin-form">
        {% csrf_token %}
    <div class="form-group mb-3">
        <label class="label" for="email" name="email">Email</label>
        <input type="Email" class="form-control" name="email" required>
      </div>

        <div class="form-group mt-4">
          <button type="submit" class="form-control btn btn-primary submit px-3">Submit</button>
        </div>
        <div class="form-group d-md-flex">

        </div>
      </form>
    </div>
  </div>

  {% endblock %}