
{% extends 'auth/Auth_base.html' %} 
{% block title %} Password Reset {% endblock title%}

{% block authcontent %}

<div class="wrap d-md-flex w-100">
    <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
      <div class="text w-100">
        <h2>Reset Your Password</h2>

      </div>
    </div>
    <div class="login-wrap p-4 p-lg-5">
        <div class="w-100">
            <div class="alert alert-info form-group">
                Your password has been set. You may go ahead and Login.
            </div>
            <div class="form-group">
                <a href="{% url 'user:login' %}" class=" form-control btn btn-primary submit px-3">login</a>
            </div>
        </div>
    </div>
  </div>

  {% endblock authcontent %}