{% extends 'dashboard/partials/base.html' %}
{% block title %}Dashboard{% endblock%}
{%block content %}
<!-- <div class="row" >
    <canvas id="myChart"></canvas>
</div> -->

<div class="row">
    <div class="col-md-12">
        <h3>Dashboard</h3>
        <table class="table table-striped table-secondary table-hover" id="dataTable" width="75%" cellspacing="0">
            <thead>
                <tr class="bg-dark">
                    <th>Customer ID</th>
                    <th>Tenure</th>
                    <th>Day since last order</th>
                    <th>Cashback amount</th>
                    <th>Predicted churn risk</th>
                    <th>Predicted churn probability</th>
                    <th>Created at</th>

                </tr>
            </thead>

            <tbody>
                {% for prediction in predictions %}
                <tr>
                    <td>#{{prediction.customer_id}}</td>
                    <td>{{prediction.tenure}}</td>
                    <td>{{prediction.day_since_last_order}}</td>
                    <td>{{prediction.cashback_amount}}</td>
                    <td>{{prediction.predicted_churn_risk}}</td>
                    <td>{{prediction.predicted_churn_probability}}</td>
                    <td>{{prediction.created_at}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}